
.hero {
  text-align: center;
  padding: 40px;
  color: white;
  background: #0f5132;
}

.hero img {
  width: 60%;
  border-radius: 10px;
  margin: 20px 0;
}

.hero button {
  padding: 12px 25px;
  font-size: 16px;
  background: #ffc107;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.features {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  background: #0f5132;
}

.feature {
  width: 30%;
  text-align: center;
}
